@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: var(--foreground);
    background-image: linear-gradient(
      to bottom left,
      #e4f7ff,
      #e4f7ff,
      #f5ccfc,
      #51a4f7
    );
    font-family: Arial, Helvetica, sans-serif;
    height: cover;
  }
}

@layer utilities {
  @keyframes motion {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .motion-animation {
    animation: motion 5s linear infinite;
  }
}

:root {
  --foreground: #171717;
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
